/* Contenedor de la encuesta */
.poll-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Pregunta */
.poll-question {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: rgb(70, 70, 70);
}

/* Opciones */
.poll-options {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Cada opción */
.poll-option {
    display: flex;
    flex-direction: column;
    color: black;
}

/* Botón de la opción */
.poll-button {
    text-align: left;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #e0e7ff;
    /* azul claro */
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}

.poll-button:hover {
    background-color: #c7d2fe;
}

.poll-button.selected {
    background-color: #006124;
    color: white;
}

/* Barra de porcentaje (fondo) */
.poll-bar-background {
    width: 100%;
    height: 16px;
    background-color: #e5e7eb;
    border-radius: 8px;
    margin-top: 5px;
}

/* Barra de porcentaje (relleno) */
.poll-bar {
    height: 16px;
    background-color: #3b82f6;
    border-radius: 8px;
    transition: width 0.5s;
}

.poll-bar.selected-bar {
    background-color: #22c55e;
}